@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* Navbar Style Start */

.main-nav {
    width: 100%;
    z-index: 12;
    background-color: rgb(255, 255, 255);
    position: fixed !important;
    top: 0;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    box-shadow: rgba(50, 50, 93, 0.178) 0px 60px 280px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.logo{
    background-color: #fff;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    display: flex;
}

.menu-link {
    grid-column: 3/4;
}

.menu-link ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 780px){
    .nav-logo{
        display: none;
    }
    .nav-links-bar{
        display: none !important;
    }
    .nav-links-mobile{
        position: absolute;
        padding-bottom: 20px;
        left: 0;
        list-style: none;
        background-color: #ffffff;
        height: max-content !important;
        transition: all 0.3s ease-out;
        width: 100vw;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .nav-items{
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 0) !important;
        text-align: center !important;
        margin-bottom: 10px;
        width: 100%;
        transition: all 0.3s ease;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 23px;
        color: #000;
        background-color: #fff;
        border: none;
        outline: none;
        top: 35px;
        right: 25px;
    }
}

.logo h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgb(2, 48, 253), rgb(11, 2, 136));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h2 span {
    font-size: 3.5rem;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropbtn{
    width: 200px;
    height: 55px;
}
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
}
.dropbtn:hover{
    background-color: rgb(216, 240, 246);
    border-radius: 13px 13px 0 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
}

.dropdown-content .droptxt {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .droptxt:hover {
    background-color: #ddd;
    border-radius: 0px;
}

/* .show {
    display: block;
} */

.single-nav-items{
    font-size: 22px !important;
    text-align: center;
    font-weight: 500;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.single-nav-items:hover{
    background-color: rgb(216, 240, 246);
    border-radius: 13px;
    text-decoration: none !important;
}

.fsize {
    font-size: 22px;
}

.menu-link ul li {
    font-size: 1.8rem;
}

.menu-link ul li a {
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    transition: 0.5s;
}

.menu-link ul li:hover>a {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    transition: 0.5s;
}

.hero-section {
    height: 60vh;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

/* @media (max-width: 1080px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
    .logo,
    .menu-link ul,
    .social-media ul {
        height: 8rem;
    }
}


@media (max-width: 998px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
    .menu-link {
        display: none;
    }
    .logo,
    .social-media ul {
        height: 7rem;
    }
    .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }
    .mobile-menu-link {
        background-color: white;
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }
    .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
    }
    .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
    }
    .social-media .social-media-desktop {
        height: 0;
        display: none;
    }
    .social-media {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }
    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 798px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
    .logo,
    .social-media ul {
        height: 6rem;
    }
    .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }
    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
    .logo,
    .social-media ul {
        height: 6rem;
    }
    .logo h2 {
        font-size: 2rem;
    }
    .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }
    .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
    .hero-section h1 {
        font-size: 3.8rem;
    }
} */
